<%=flash[:notice] %>

<div class=all>
  <h1 class=title1>Books</h1>
  <table >
    <thead>
      <tr>
        <th class=th>Title</th>
        <th class=th>Body</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <% @books.each do |book| %>
    <tbody>
      <tr class=book_content>
         <td><%= book.title %></td>
         <td><%= book.body %></td>
         <td><%= link_to "Show",book_path(book) %></td>
         <td><%= link_to "Edit",edit_book_path(book) %></td>
         <td><%= link_to "Destroy",destroy_path(book), method: :delete, "data-confirm" => "Are you sure?？" %></td>
       </tr>
    </tbody>
    <% end %>
  </table>

  <h1 class=title2>New book</h1>
  <%= form_with model:@book,local:true do |f| %>
    <% if @book.errors.any? %>
      <p><%= pluralize(@book.errors.count, "error") %> prohibited this product from being saved:</p>
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    <% end %>

  <p class=text>Title</p>
  <%= f.text_field:title %>
  <p class=text>Body</p>
  <%= f.text_area:body %>
  <p class=text><%= f.submit 'Create Book' %></p>
  <% end %>
</div>